<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	th:include="fragments/layout :: page" lang="en" dir="ltr">
<head>
<title>Index</title>
</head>
<body>
	<div th:fragment="content">
		<!--  -->
		<div class="grid-x grid-padding-x">
			<div class="large-12 cell">
				<h1 class="text-center">last.fm</h1>
			</div>
		</div>
		<div class="grid-x grid-padding-x">
			<div class="large-12 cell">
				<h3 th:text="${title}"></h3>

				<div th:if="${collection} == true">
					<p>Inloggad</p>
				</div>
				<div th:if="${collection} == false">
					<p>Ej inloggat</p>
				</div>


				<div class="flex-box">
					<div th:each="album, i:${albumList}" class="album">
						<div class="album-thumbnail">
							<a th:data-open="tracks + ${i.count}"><img
								th:src="${album.imageReference}"></img><img
								th:if="${album.imageReference.isEmpty()}" src="img/noimage.png"></img></a>
						</div>
						<h2 th:text="${album.name}" class="album-title"></h2>
						<p th:text="${album.artist}" class="artist"></p>
						<a th:unless="${collection} == true" th:data-album="${album.name}"
							sec:authorize="isAuthenticated()" class="addToCollection"
							href="#">Add to collection</a> <a th:if="${collection} == true"
							th:data-album="${album.name}" sec:authorize="isAuthenticated()"
							class="removeFromCollection" href="#">Remove from collection</a>


						<div class="reveal" th:id="tracks + ${i.count}" data-reveal>

							<h2 th:text="${album.name}"></h2>
							<h3 th:text=" ${album.artist}"></h3>
							<p th:text="${#lists.size(album.tracks)} + ' ' + tracks"></p>
							<ul th:each="track:${album.tracks}">
								<li><span th:text="${track.name}"></span><span
									class="float-right" th:text="${track.duration}"></span></li>
								<li><a th:if="${collection} == true"
							th:data-track="${track.name}" sec:authorize="isAuthenticated()"
							class="addToPlaylist">Add to playlist</a></li>
							</ul>

							<button class="close-button" data-close aria-label="Close modal"
								type="button">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>
				</div>

			</div>
		</div>
		<script type="text/javascript">
			function r(f) {
				/in/.test(document.readyState) ? setTimeout('r(' + f + ')', 9)
						: f()
			}

			r(function() {

				function ajax(url, inData) {
					$.ajax({
						type : "POST",
						contentType : "application/json",
						url : url,
						data : JSON.stringify(inData),
						dataType : 'json',
						timeout : 500000,
						success : function(data) {
							console.log("success: " + data);
						},
						error : function(e) {
							console.log("Error: " + e);
						}
					})
				}

				$(".addToCollection").click(function(event) {
					event.preventDefault();
					console.log($(this).attr("data-album"));
					ajax("/addToCollection", $(this).attr("data-album"));
				});

				$(".removeFromCollection").click(function(event) {
					event.preventDefault();
					console.log($(this).attr("data-album"));
					ajax("/removeFromCollection", $(this).attr("data-album"));
				});

				$(".addToPlaylist").click(function(event) {
					event.preventDefault();
					console.log($(this).attr("data-track"));
					ajax("/addToPlaylist", {"spellista", $(this).attr("data-track")});
				});

			});
		</script>

		<!--  -->
	</div>
</body>
</html>