<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	th:include="fragments/layout :: page" lang="en" dir="ltr">
<head>
<title>Index</title>
</head>
<body>
	<div th:fragment="content">
		<!--  -->
		<div class="grid-x grid-padding-x">
			<div class="large-12 cell">
				<h1 class="text-center">last.fm</h1>
			</div>
		</div>
		<div class="grid-x grid-padding-x">
			<div class="large-12 cell">
				<h3 th:text="${title}"></h3>

				<div class="flex-box">
					<div th:each="album:${albumList}" class="album">
						<div class="album-thumbnail">
							<a th:href="${album.url}"><img th:src="${album.imageReference}"></img><img th:if="${album.imageReference.isEmpty()}" src="img/noimage.png"></img></a>
						</div>
						<h2 th:text="${album.name}" class="album-title"></h2>
						<p th:text="${album.artist}" class="artist"></p>
						<a sec:authorize="isAuthenticated()" href="#">Add to collection</a>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!--  -->
	</div>
</body>
</html>