<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:include="fragments/layout :: page" lang="en" dir="ltr">
<head>
<title>Login</title>
</head>
<body>
	<div th:fragment="content">
		<!--  -->
		<div class="grid-x grid-padding-x">
			<div class="large-4 cell"></div>
			<div class="large-4 cell">
				<form class="log-in-form" th:action="@{/login}" method="post">
					<h4 class="text-center">Login form</h4>
					<label>Username <input type="text" placeholder="username"
						id="username" name="username">
					</label> <label>Password <input type="password"
						placeholder="password" id="password" name="password">
					</label>
					<p>
						<input type="submit" class="button expanded" value="Log in"></input>
					</p>
				</form>

			</div>
			<div class="large-4 cell"></div>
		</div>
		<div class="grid-x grid-padding-x">
			<div class="large-4 cell"></div>
			<div class="large-4 cell">
				<p class="error text-center" th:if="${param.error}">Wrong username or password</p>
				<p class="text-center" th:if="${param.logout}">You have been logged out</p>
			</div>
			<div class="large-4 cell"></div>
		</div>
		<!--  -->
	</div>
</body>
</html>